body {
    align-items: center;
}

#form-container div {
    margin-top: 1em;
}

#form-container input {
    width: 20em;
    height: 2em;
}

#form-container textarea {
    width: 60%;
    height: 10em;
}

#location input {
    width: 30em;
    height: 2em;
}

#map {
    width: 60em;
    height: 30em;
}

h2{
    color: red;
    text-align: center;
    text-decoration:underline ;
}

#table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#table th, #table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

#table th {
    background-color: #f4f4f4;
}

button {
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    font-size: 0.9em;
}

button:hover {
    background-color: #0056b3;
}

@media screen and (max-width: 768px) {
    table {
        font-size: 0.9em;
    }
}
